body {
  margin: 16px;
}
.container {
  width: 980px;
  margin: 0 auto;
}
div {
  padding: 10px;
  min-height: 30vh;
}
.main-content {
  background-color: lightgrey;
  width: 60%;
  float: right;
}
.sidebar {
  background-color: lightgrey;
  width: 30%;
  float: left;
}
