.container {
  width: 950px;
  margin: 0 auto;
}

/* --------------------- image style -------------------- */
img {
  width: 100%;
  height: 350px;
  object-fit: cover;
}
/* --------------------- button style -------------------- */
button {
  border: none;
  border-radius: none;
  font-size: 14px;
  text-transform: uppercase;
  color: #eee;
  background-color: hsla(0, 0%, 0%, 0.85);
  margin: 1em 0;
  padding: 10px 15px;
}
button:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* --------------------- .navbar style -------------------- */
.navbar {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  background-color: #eee;
}
.navbar li {
  list-style-type: none;
  display: inline;
  font-size: 20px;
  margin-right: 100px;
}

/* --------------------- main-content style -------------------- */
.contents {
  margin-top: 100px;
}
.main-content {
  width: 630px;
  float: left;
}

/* --------------------- .sidebar style -------------------- */
.sidebar {
  width: 300px;
  padding: 15px;
  float: right;
  right: 200px;
}
.sidebar li {
  list-style-type: none;
  margin-left: 5px;
}
.sidebar h2 {
  margin: 10px 0;
}
.sidebar-headline {
  text-decoration: underline;
  text-decoration-color: rgb(3, 138, 48);
  text-decoration-thickness: 2px;
  cursor: pointer;
}
.sidebar-headline:hover {
  text-decoration-thickness: 1px;
}
