/* ----------------- .container ---------------- */
.container {
  width: 850px;
  margin: 0 auto;
  margin-top: 60px;
}

/* ----------------- image ---------------- */
img {
  object-fit: cover;
  width: 850px;
  height: 400px;
  margin: 20px 0;
}

/* ----------------- .navbar ---------------- */
nav {
  width: 100%;
}
.navbar {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgrey;
}
.navbar-item {
  list-style-type: none;
  display: inline;
  padding: 0;
  margin-right: 50px;
  font-size: 20px;
  font-weight: 600;
}
.navbar-item:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* ----------------- sticky ---------------- */
.sticky {
  position: fixed;
  top: 0;
}

/* ----------------- footer ---------------- */
footer {
  padding: 50px 0;
}
footer p {
  text-align: center;
}
